<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">


      <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>

  <div class="courses" #refdiv >

    <course-card #ref1
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="courses[0]">

    <h1>test</h1>
    </course-card>

    <course-card #ref2
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="courses[1]">


    </course-card>


  </div>


</div>




